main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.blogWrapper {
    background-color: rgb(31, 221, 255);
    border-radius: 1em;
    margin-top: 2em;
    padding: 0.5em;
}

.blogTitle {
    background-color: none;
}

.blogDate {
    background-color: none;
}

.blogContent {
    background-color: none;
}