#blogWrapperWrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-left: 8vw;
    margin-right: 8vw;
    flex-wrap: nowrap;
}

#imgbg{
    width: 100%;
}



.division{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    margin-left: 17vw;
    margin-right: 17vw;
}

.division_contenu{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
}

.division_contenu p{
    text-align: justify;
    padding: 2vw;
    font-size: 1.5em;
    line-height: 150%;

}

.division_contenu img{
    max-height: 30vh;
    margin:2vw;
    max-width: 50vw;
    border-radius: 9px;
}




.blogTitle {
    background-color: none;
}

.blogDate {
    background-color: none;
    font-size: .9em;
    color: rgb(22, 72, 171);
    font-weight: bold;
    align-self: end;
    order: -1;
}

.blogContent {
    background-color: none;
    font-size: 1.1em;
    
}


.blogWrapper{
    border:1px solid rgb(72, 106, 156);
    margin-top: 2em;
    padding: 0.5em;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background-color: rgba(146, 179, 228, 0.438);
 
 }
 
 .blogWrapper h3{
    align-self: center;
    font-size: 1.5em;
    color: rgb(24, 39, 69);
 }