body{
    background-color: rgb(221, 230, 243);
    font-family:sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

h1{
    color :rgb(11, 40, 83);
    
}
#avis {
    width: 100%;
}

#avis div{
    background-color: rgb(178, 200, 232);
    border:1px solid rgb(72, 106, 156);
    margin: 4vh;
    padding: 1vh;
    border-radius: 5px;

    display: flex;
    justify-content:space-around;
    flex-direction: column;

    animation: fadein 1s;
}

button{
    border: none;
    display: inline;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #eeeeee;
    font-weight: 600;
    font-size: 1em;
    background-color: #2b46a6;
    padding: 1.5vh 2vw;
    margin: 0 auto;
    border-radius: 5px;
}

button span {
    position: relative;
    z-index: 1;
}

button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 500%;
    width: 250%;
    background: #6586ce;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
  }
button:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
