html {
   margin: 0;
   padding: 0;
}

body {
   margin: 0;
   padding: 0;
   background-color: rgb(221, 230, 243);
   font-family: Arial, Helvetica, sans-serif;
}

main {
   padding: 0.5vw;
}

header a {
   text-decoration: none;
   color: rgb(0, 0, 0);
}

#userLogoWrapper {
   align-items: center;
}

#header {
   z-index: 100;
   width: 100%;
   height: 20vh;
   margin: 0;
   background-color: rgb(112, 125, 184);
   display: flex;
   position: relative;
}

#headerMenusWrapper {
   position: absolute;
   width: 100%;
   height: inherit;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding: 0;
   margin: 0;
   font-family: 'Trebuchet MS', Verdana, sans-serif;
}

.imgHeader {
   width: 5vw;
   height: 5vw;
}


#logo{
   height: 20vh;
}

.logoTitleMenu {
   height: 10vw;
}

.textTitleMenu {
   height: 15%;
   color : white;
}

.headerMenu {
   display: flex;
   flex-direction: column;
   align-items: center;
   /*justify-content: center;*/
   margin: 0;
   padding: 0;
   width: 10%;
}

.headerMenuTitle {
   font-size: 20px;
}

.headerMenuList {
   line-height: 1.5;
   background-color: rgb(79, 98, 134);
   display: flex;
   flex-direction: column;
   list-style: none;
   margin: 0;
   padding: 10%;
   font-size: 16px;
   display: flex;
   flex-direction: column;
   align-content: stretch;
   align-items: center;
   justify-content: center;
   width: fit-content;
   flex-wrap: wrap;
}

.headerMenuList li {
   width: fit-content;
   padding-top: 5%;
}

.headerMenuList li a {
   width: fit-content;
   color: white;
}

.hidden {
   display: none;
}

