main{
    font-family: Arial, Helvetica, sans-serif;
}

#main_products{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
   
}
.product{
    border:1px solid rgb(72, 106, 156);
    margin: 4vh;
    padding: 1vh;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background-color: rgba(146, 179, 228, 0.438);
    
}


h3{
    align-self: center;
    font-size: 2em;
    

    color: rgb(24, 39, 69);
}

.add_to_the_cart{
    order: none;
    display: inline;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #eeeeee;
    font-weight: 600;
    font-size: 1em;
    background-color: #5868a3;
    padding: 1.5vh 2vw;
    margin: 0 auto;
    border-radius: 5px;
}

.add_to_the_cart a  {
    position: relative;
    z-index: 1;
    color: #eeeeee;
    text-decoration: none;
}

.add_to_the_cart:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 500%;
    width: 250%;
    background: #2d4c90;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
  }
  .add_to_the_cart:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }

.price{
    align-self: center;
    font-size: 1.7em;
    color: rgb(22, 72, 171);
    font-weight: bold;
}
.product_info{
    align-self: flex-start;
}